# Webiny API Configuration
# Get your API key from your Webiny admin panel
REACT_APP_WEBINY_GRAPHQL_URL=https://d37rx9x7ljwr4b.cloudfront.net/cms/manage/en-US
REACT_APP_WEBINY_API_KEY=a62c232b88a34bc7ceed9717ba9245773aaf4aeaeadd807e

# Other environment variables can be added here